<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{team}} - {{title2}}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/sprites.css" />
    </head>
<body>

<div id="page">
	<div id="header">
        <h1>{{team}}</h1>
        <div style="float:right"><a href="{{logout_url}}">Logout</a></div>
        <h2>{{title2}}</h2>
	</div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

<p id="footer">{{year}} &copy; {{title}}</p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="/assets/js/script.js"></script>

</body>
</html>
