{% extends "generic.html" %}

{% block content %}
    <div class="team-schedule">
        <table id="users">
            <tbody>
                <tr><th></th><th>July 6</th><th>July 13</th></tr>
                <tr><td class="playername">Wade</td><td><div name="player" /></td><td><div name="player" /></td></tr>
                <tr><td class="playername">Cher</td><td><div name="player" /></td><td><div name="player" /></td></tr>
                <tr><td class="playername">Other</td><td><div name="player" /></td><td><div name="player" /></td></tr>
                <tr><td class="playername">Person</td><td><div name="player" /></td><td><div name="player" /></td></tr>
            </tbody>
        </table>
    </div>
{% endblock %}
