{% extends "generic.html" %}

{% block content %}
    <div class="team-schedule">
        {% if not all %}
        <div><a href="{{path}}">Show all games</a></div>
        {% else %}
        <div><a href="{{path}}">Show fewer games</a></div>
        {% endif %}
        <form>
        <table id="users">
            <tbody>
                <tr>
                    <th></th>
                    {% for gm in games %}
                        <th id="game{{gm.id}}">
                            <div class="gameday">{{gm.t}}</div>
                            {% if gm.i %}<div class="gameinfo">{{ gm.i }}</div>{% endif %}
                            <div class="mfeach">
                                <div class="mf gender gender-f"></div>
                                <div class="genderinfo"></div>
                            </div>
                            <div class="mfeach">
                                <div class="mf gender gender-m"></div>
                                <div class="genderinfo"></div>
                            </div>
                        </th>
                    {% endfor %}
                </tr>
                {% for  pl in players %}
                    <tr {% if pl.active %}id="activeplayer" class="activeplayer"{% endif %}>
                        <td class="player{% if pl.active %} active{% endif %}">
                            <span class="playername">{{pl.obj.name}}</span>
                            <div class="playericon gender gender-{% if pl.male %}m{% else %}f{% endif %}"></div>
                        </td>
                        {% for gm in pl.games %}<td>
                            <div class="player" id="status{{gm.id}}">
                                <input type="hidden" value="{{gm.v}}"></input>
                                <input type="hidden" value="{{gm.t}}"></input>
                            </div>
                        </td>{% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
    {% if log %}
        <div class="log">
        <ol>
        {% for ll in log %}
            <li>{{ll}}</li>
        {% endfor %}
        </ol>
        </div>
    {% endif %}
{% endblock %}
